
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(0, 55, 255);
    border-radius: 9px;
    cursor: pointer;
    width: 65px;
    background-color: rgb(40, 237, 255);
    font-size: large;
    text-shadow: 1px 1px 1px;
    
}
.row{
    margin: 8px 0; 
}
.row input{
    width: 230px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    background-color:rgb(229, 229, 229);
}